<div id="playlist">
    <table class="table table-hover table-bordered">
        <colgroup>
            <col width="41"/>
            <col width="relative_length"/>
            <col width="41"/>
        </colgroup>
        <tr data-ng-repeat="song in playlist.listArray | orderBy:timestamp"
            data-ng-class="{success:song.hash == playlist.hash}">
            <td>
                <button class="btn btn-default btn-xs"
                        data-ng-if="song.hash == playlist.hash"
                        style="display:inline-block">
                    <span class="glyphicon glyphicon-music"></span>
                </button>
                <button class="btn btn-default btn-xs"
                        data-ng-click="play(song)"
                        data-ng-if="song.hash != playlist.hash">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </td>
            <td>{{song.filename}}</td>
            <td>
                <button class="btn btn-default btn-xs"
                        data-ng-click="delete(song)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
